<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App | Faiyan</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="h-screen bg-zinc-900">
      <nav class="bg-zinc-800 h-[10vh] px-5 flex items-center text-white">
        <h2><a href="/dashboard/todos">Go back!</a></h2>
      </nav>

      <form action="/dashboard/todos/edit/<%= todo._id %>" method="post" class="h-[90vh] flex justify-center items-center flex-col text-white px-10">
        <textarea name="title" class="bg-transparent w-full md:w-1/2 outline-none border border-indigo-300 md:rounded px-2 py-2 resize-none" required><%= todo.title %></textarea>
        <textarea name="description" class="bg-transparent w-full md:w-1/2 mt-5 outline-none border border-indigo-300 md:rounded px-2 py-2 resize-none" required><%= todo.description %></textarea>
        <input class="bg-green-500 px-5 py-3 mt-5 rounded md:rounded-md" type="submit" value="Update Todo">
      </form>
    </div>
  </body>
</html>
